body {
  background-color: #3F3D34;
}

nav {
  padding-top: 40px;
}

.nav-title {
  font-family: ;
  /*font-size: 125%;*/
}

.app-body {
  background-color: white;
}

.offset {
  position: relative;
  bottom: 80px;
  box-shadow: rgba(0, 0, 0, 0.22) -2px 9px 5px 0px;
}

.headings {
  font-family: Homemade Apple, cursive;
  color: #012E32;
}

.headings-white {
  font-family: Homemade Apple, cursive;
  color: white;
}

.sub-headings {
  font-family: Raleway;
}

.primary-text {
  font-size: 125%;
  line-height: 3rem;
  font-family: Raleway;
  color: #012E32;
}

.fa {
  font-size: 1.3em;
  color: white;
}

.about {
  color: #fff;
}

.table {
  font-family: Raleway;
}

.email {
  background-color: rgb(34, 34, 34);
  color: white;
  font-family: Raleway;
}

.img-logo {
  height: 50px;
  margin-top: -13px;
}

.img-portfolio {
  height: 450px;
}

footer {
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
}
